:root {
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

/* Utility classes */
.wrapper {
  --width: 1440px;
  --padding: 1rem;

  width: min(var(--width), 100% - var(--padding));
  margin-inline: auto;
}
