@import "tailwindcss";

:root {
  --rounded: 5px;
  --rounded-md: 8px;
  --rounded-lg: 16px;

  --fs-2xs: .7rem;
  --fs-xs: .85rem;
  --fs-sm: .9rem;
  --fs-md: 1rem;
  --fs-lg: 1.2rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 1.8rem;
  --fs-3xl: 2.2rem;

  --bg: #ffffff;

  --text: #000000;
  --text-secondary: #404040;
  --text-tertiary: #606060;

  --border-input: #dfdfe3;

  --accent: #0058be;

  --white: #ffffff;
  --black: #000000;
  --light-gray: #ccc;

  color-scheme: light;
}

/* Utility classes */
.wrapper {
  --width: 1280px;
  --padding: 1rem;

  width: min(var(--width), 100% - var(--padding));
  margin-inline: auto;
}
