.input {
  border: 1px solid var(--border-input);
  padding: 0.6rem 1.2rem;
  border-radius: var(--rounded);
}

.input:focus {
  outline: 1px solid var(--accent);
}

.input::placeholder {
  color: var(--text-tertiary);
}

.input[data-error="true"] {
  outline: 1px solid var(--red);
}

.input[data-disabled="true"] {
  opacity: 0.8;
}
